.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-top {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 2px 5px;
  width: 100%;
}

.buttonarea {
  text-align: center;
}

.buttonarea-container {
  position: relative;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  background: rgb(185, 226, 185);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
  height: 120px;
  margin: 20px auto;
  padding: 10px;
  max-width: 300px;
  border-radius: 10px;
}

.buttonarea-fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.invisible {
  display: none;
}

.spacer {
  min-height: 160px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-style: none;
  font-size: 1em;
  width: 1.5em;
  border-radius: 90px;
  color: rgba(0, 124, 0, 0.8);
}

.ads-block {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 320px;
  height: 200px;
}

.ads-header {
  display: inline-block;
  min-width: 300px;
  max-width: 970px;
  width: 100%;
  height: 50px;
}

.ads-column {
  display: none;
  width: 0;
  height: 0;
}

@media screen and (min-width: 960px) {
  .ads-header {
    display: none;
    width: 0;
    height: 0;
  }

  .ads-column {
    display: inline-block;
    width: 300px;
    height: 600px;
  }

  .buttonarea-fixed {
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 100%;
  }
}
